node_modules

uploads
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

privatekey.pem
server.crt

beanstalk.txt
postman.txt
00-dependencies.txt

*.zip

