option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION_INSTALL: "false"
    PORT: "5001"
    FRONTEND_URL: "https://main.dvzml9ubkbnki.amplifyapp.com"
    GOOGLE_CLIENT_ID: "753990577715-4jitqoknh98fv78s8l6hji15njbpi4hf.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET: "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"
    GOOGLE_CALLBACK_URL: "http://forum-backend-env.eba-rkkugpwy.ap-southeast-2.elasticbeanstalk.com/auth/google/callback"
    KAKAO_CLIENT_ID: "7bfc45959e5d601b3b9a5bad8f003f56"
    KAKAO_CLIENT_SECRET: "V9ow9oblDPcoTvDVspbwn8ggU1cpAwMG"
    KAKAO_REDIRECT_URI: "http://forum-backend-env.eba-rkkugpwy.ap-southeast-2.elasticbeanstalk.com/auth/kakao/callback"
    NAVER_CLIENT_ID: "0jxHWd654HX1NB_EBY1m"
    NAVER_CLIENT_SECRET: "HlAGSly73J"
    NAVER_REDIRECT_URL: "http://forum-backend-env.eba-rkkugpwy.ap-southeast-2.elasticbeanstalk.com/auth/naver/callback"
    SESSION_SECRET: "0f1eb2df6b46cb0d0639cda28fecfae08f57503b676045974827366cfd60447b"
    JWT_SECRET: "0b3e5a697c03980c181448c292ecdf3e3ff2c1f01fcff136212d94c3e2d570db3f3e480fecb7b9a830cd4cd7056b12e86d7c064f938754f747c4c6d9b90512a893974b8ec245f4ddab44664ce25b892d6c94066c82b71a82bc9db61e6dc4c0326fb32f184009534c75e4b0c478f1dc16bd3cb4557341626a27ec972d758821a0f4c2cc9291006763fd6062cade2c2e4e62448d26af986a53822881ad0fbe4f4ebb0c63be5f9cf4944d02e1810e57156b5ff388425746f93391d8711032117a66f356f2053e5416655c00f3d3711d0d972c78b6082106ea44cb134c9b39d9917b60d5f83ce23453a92d1a3d352313145300eb2adc35a8530154d719f7938f4bad"
    EMAIL_USER: "juhyoung.leee@gmail.com"
    EMAIL_APP_PASSWORD: "jhal rpvr xwbc cywp"
    EMAIL_ADMIN: "supports@forum.com"
  aws:autoscaling:launchconfiguration:
    InstanceType: t4g.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  00_clean_current_node_modules:
    command: "rm -rf /var/app/current/node_modules"
    leader_only: true