# .ebextensions/02_commands.config (or 02_rebuilds.config)

container_commands:
  01_rebuild_bcrypt:
    command: "cd /var/app/current && npm rebuild bcrypt --unsafe-perm"
    leader_only: true
  02_rebuild_sharp:
    command: "cd /var/app/current && npm rebuild sharp --unsafe-perm"
    leader_only: true
